In [1]:
import glob
import pandas as pd

# Specifying the path to Excel files
path = r"C:\Users\hp\Music\Documents\Intern_IIMV\Fiscal_RBI\Fiscal_LF"
# Get the list of Excel files in the path
file_list = glob.glob(path + "/*.xlsx")

# Initial DataFrame to store the merged data
merged_df = pd.DataFrame()

# Iterate through each file and merge the data into the merged_df DataFrame
for file in file_list:
    df = pd.read_excel(file)
    
    # Assuming the two common columns are named "Year" and "State"
    common_cols = ["State","Years"]
    
    # Get the different column name by excluding the common columns
    different_col = [col for col in df.columns if col not in common_cols]
    
    # Merge the data based on the common columns
    if merged_df.empty:
        merged_df = df
    else:
        merged_df = pd.merge(merged_df, df[common_cols + different_col], on=common_cols, suffixes=('', '_{}'.format(file)), how='left')

# Export the merged DataFrame to an Excel file
merged_df.to_excel(r"C:\Users\hp\Music\Documents\Intern_IIMV\Fiscal_RBI\Merged_Fiscal.xlsx", index=False)
merged_df.isnull().sum()

Years                              0
State                              0
Gross Fiscal Deficit               0
Revenue Deficit                   62
Primary Deficit                   62
Own Tax Revenue                   62
Own Non-Tax Revenue               62
 Interest Payments                62
State-wise Pension                62
State-wise Capital Expenditure    93
Capital Outlay                    31
Social Sector Expenditure         93
dtype: int64

In [23]:
merged_df.tail()

,State,Year,Gross State Domestic Product,Gross State Value Added by Economic Activity - Agriculture,Gross State Value Added by Economic Activity - Manufacturing,Gross State Value Added by Economic Activity - Construction,Gross State Value Added by Economic Activity - Industry,Gross State Value Added by Economic Activity - Banking and Insurance,Gross State Value Added by Economic Activity - Services
369,Telangana,2021-22,114811470.0,8738098.0,12211459.0,3920239,20494276,5465910,63867140
370,Tripura,2021-22,6477808.0,1353602.0,168862.0,314763,1171012,176974,2740202
371,Uttar Pradesh,2021-22,186322112.0,28964021.0,19509059.0,17409428,44685410,6726129,79041075
372,Uttarakhand,2021-22,25383197.0,1338710.0,7846745.0,1943895,10831471,859594,10094697
373,West Bengal,2021-22,NaN,NaN,NaN,-,-,-,-

In [2]:
df2=pd.read_excel(r"C:\Users\hp\Music\Documents\Intern_IIMV\Fiscal_RBI\Fiscal_LF\Table 162 State-wise Capital Expenditure_LF.xlsx")

In [3]:
df2.isnull().sum()

Years                             0
State                             0
State-wise Capital Expenditure    0
dtype: int64