In [46]:
from plotly.subplots import make_subplots
import plotly.graph_objects as go
import pandas as pd
from plotly import tools
import plotly.express as px
import os 

# Folder path containing the XLSX files
in_folder_path = '/Users/kalyan/Library/CloudStorage/OneDrive-IIMVIZAG/Python-Exercise-KK/Kalyan-Jupyter-Notebooks/Capex/proc_data'

# filename_1 = "Project_CapEx_Final.xlsx"
filename_1 = "Capex_Events_Total.xlsx"

file_path_1 = os.path.join(in_folder_path, filename_1)

df = pd.read_excel(file_path_1 , sheet_name='Sheet1')

print(df['Event'].unique())

print(df.shape)

print(df.columns)

print(df.dtypes)
# Perform pivot operation
pivot_df = df.pivot_table(index='sub_stage_id', columns='Type', values = 'Cost (Rs.million)', aggfunc='count')
print(pivot_df)

print(df['sub_stage_id'].unique())

### Write Merged file to Excel 
out_folder_path = '/Users/kalyan/Library/CloudStorage/OneDrive-IIMVIZAG/Python-Exercise-KK/Kalyan-Jupyter-Notebooks/Capex/proc_data/'
out_file_name = 'Events.xlsx'
out_file_path = os.path.join(out_folder_path, out_file_name)

pivot_df.to_excel((out_file_path), index = True)

['Bids invited' 'Announcement' 'Project cost' 'Implementation started'
 'Bids awarded' 'Land acquired' 'Construction commenced' 'IEM filed'
 'Initial Commissioning Date' 'Completed' 'Environment clearance sought'
 'Environmental clearance received' 'Expenditure incurred till'
 'Physical progress' 'Foundation stone laid' 'No information'
 'Construction completed' 'No information upto'
 'Commercial production commenced'
 'Initial Commissioning Date For Product/unit'
 'Completed For Product/unit' 'MoU signed'
 'Construction commencement expected' 'EAC recommendation received'
 'CRZ clearance received' 'Land acquisition awaited'
 'State Govt approval received' 'PPA signed' 'BoD approval received'
 'Financial closure achieved' 'Loan sanctioned' 'Trial run commenced'
 'Initial Commissioning Date - Estd. By CMIE' 'Transferred from'
 'Central Govt approval received' 'Budgetary allocation' 'Bids cancelled'
 'Letter of Intent (LoI) received' 'Forest clearance sought' 'FC received'
 'Implementation stalled on' 'Stalled upto'
 'Construction completion expected'
 'Commercial production commenced For Product/unit'
 'Approved by Planning Commission' 'Machinery ordered'
 'Machinery installed' 'CCEA approval received'
 'SEZ Board formal approval received' 'Trial run expected'
 'Consultants appointed' 'Stalled on' 'Cabinet approval received'
 'Partially commissioned' 'Licence agreement signed'
 'Central Govt. approval sought' 'Contract cancelled'
 'State Govt. approval sought' 'Land acquisition problem'
 'Initial Commissioning Date - Estd. By CMIE For Product/unit'
 'Licence received' 'Comm. Prod Expected' 'PPA cancelled'
 'SEZ Board notified' 'Funds not tied-up' 'Completion By'
 'Partially commissioned by' 'Comm. Prod Expected For Product/unit'
 'Contract mode changed' 'Feasibility report prepared'
 'Land acquisition problem resolved' 'PIB approval received'
 'FAC recommendation received' 'Abandoned on' 'Shelved on'
 'Land acquired returned' 'Land allotment cancelled'
 'Co-promoters Invited' 'Formal approval cancelled by SEZ Board (BoA)'
 'Completion By For Product/unit' 'Completion By - Estd. By CMIE'
 'SEZ Board In-principle appr Received' 'Bids opening deferred'
 'FIPB approval received' 'Coal linkage sought' 'Coal linkage granted'
 'MoU cancelled' 'CEA in-principle appr received'
 'Completion By - Estd. By CMIE For Product/unit']
(272802, 12)
Index(['Company Name', 'Project Name', 'Cost (Rs.million)', 'Project Status',
       'Last Updated On', 'Event', 'Company Code', 'Project No.', 'Type',
       'Date', 'stage_id', 'sub_stage_id'],
      dtype='object')
Company Name                 object
Project Name                 object
Cost (Rs.million)           float64
Project Status               object
Last Updated On              object
Event                        object
Company Code                  int64
Project No.                   int64
Type                         object
Date                 datetime64[ns]
stage_id                     object
sub_stage_id                 object
dtype: object
Type          Abandoned  Completed  Outstanding
sub_stage_id
A1                346.0     7358.0      18777.0
A2                 48.0      264.0        912.0
A3                  1.0      234.0         71.0
A4                  1.0        NaN          1.0
A5                 17.0      381.0        290.0
...                 ...        ...          ...
H8                215.0    11853.0      16869.0
H9                  NaN     7358.0          NaN
I3                  7.0     2636.0       6081.0
I4                427.0     9976.0      23966.0
I7                  2.0       66.0        175.0

[89 rows x 3 columns]
['D2' 'A1' 'I4' 'G1' 'D6' 'F4' 'G6' 'A3' 'H8' 'H9' 'B8' 'C7' 'I3' 'G9'
 'G3' 'H24' 'G8' 'H26' 'H18' 'H5' 'H14' 'A2' 'G5' 'C24' 'C23' 'F1' 'C4'
 'C18' 'A5' 'E6' 'E4' 'H2' 'H7' 'I7' 'C3' 'E1' 'D5' 'C2' 'B9' 'C22' 'H20'
 'H23' 'G7' 'H16' 'C6' 'G2' 'G4' 'C13' 'C10' 'H1' 'D3' 'H21' 'C5' 'H4'
 'B4' 'B6' 'D7' 'B7' 'F2' 'H6' 'C1' 'H15' 'H29' 'C9' 'E3' 'H13' 'H3' 'H11'
 'D8' 'B2' 'F3' 'C12' 'C25' 'H19' 'H22' 'F5' 'F6' 'A4' 'H28' 'H10' 'H12'
 'C11' 'D4' 'B10' 'B12' 'C17' 'B1' 'C16' 'H17']

In [102]:
import pandas as pd

# Sample DataFrame
data = {
    'Name': {"0":"Project ABC","1":"Project ABC","2":"Project ABC","3":"Project DEF","4":"Project DEF"},
    'Owner': {"0":"State Govt","1":"State Govt","2":"State Govt","3":"Pvt","4":"Pvt"},
    'Event': {"0":"Announced","1":"Permission Receipt","2":"Completed","3":"Announced","4":"Permission Receipt"},
    'Status': {"0":"Completed","1":"Completed","2":"Completed","3":"Completed","4":"Completed"},
    'Date': {"0":1683676800000,"1":1687996800000,"2":1692316800000,"3":1687478400000,"4":1689379200000},
    'sub_stage_id': {"0":"A1","1":"B1","2":"C1","3":"A1","4":"B1"},
    'stage_id': {"0":"A","1":"B","2":"C","3":"A","4":"B"}
}

df = pd.DataFrame(data)

# Convert 'Date' column to datetime
df['Date'] = pd.to_datetime(df['Date'], unit='ms')

# Create a new column 'Appended_sub_stage_id' with appended 'sub_stage_id' values by 'Name'
df['Appended_sub_stage_id'] = df.groupby('Name')['sub_stage_id'].transform(lambda x: ''.join(x))

print(df)

          Name       Owner               Event     Status       Date  \
0  Project ABC  State Govt           Announced  Completed 2023-05-10
1  Project ABC  State Govt  Permission Receipt  Completed 2023-06-29
2  Project ABC  State Govt           Completed  Completed 2023-08-18
3  Project DEF         Pvt           Announced  Completed 2023-06-23
4  Project DEF         Pvt  Permission Receipt  Completed 2023-07-15

  sub_stage_id stage_id Appended_sub_stage_id
0           A1        A                A1B1C1
1           B1        B                A1B1C1
2           C1        C                A1B1C1
3           A1        A                  A1B1
4           B1        B                  A1B1

In [100]:
import pandas as pd

# Given JSON data
{"Name":{"0":"Project ABC","1":"Project ABC","2":"Project ABC","3":"Project DEF","4":"Project DEF"},"Owner":{"0":"State Govt","1":"State Govt","2":"State Govt","3":"Pvt","4":"Pvt"},"Event":{"0":"Announced","1":"Permission Receipt","2":"Completed","3":"Announced","4":"Permission Receipt"},"Status":{"0":"Completed","1":"Completed","2":"Completed","3":"Completed","4":"Completed"},"Date":{"0":1683676800000,"1":1687996800000,"2":1692316800000,"3":1687478400000,"4":1689379200000},"sub_stage_id":{"0":"A1","1":"B1","2":"C1","3":"A1","4":"B1"},"stage_id":{"0":"A","1":"B","2":"C","3":"A","4":"B"}}

df = pd.DataFrame(data)

master_list = df.columns
col_list = ['sub_stage_id'] # column whose row values will be appended to column heading 
val_list = ['Date', 'Event',] # columns which will be created by suffixing the sub_stage_id
idx_list = [item for item in master_list if item not in col_list and item not in val_list]
print(idx_list)
# Pivot the DataFrame to wide format
wide_df = df.pivot(index = idx_list, columns = col_list, values = val_list).reset_index()

# Flatten the multi-level column index
wide_df.columns = [f'{col[0]}_{col[1]}' if isinstance(col, tuple) else col for col in wide_df.columns]

# Remove trailing underscores from column headings
wide_df.columns = wide_df.columns.str.rstrip('_')

print(wide_df)

['Name', 'Owner', 'Status']
          Name       Owner     Status        Date_A1        Date_B1  \
0  Project ABC  State Govt  Completed  1683676800000  1687996800000
1  Project DEF         Pvt  Completed  1687478400000  1689379200000

         Date_C1   Event_A1            Event_B1   Event_C1
0  1692316800000  Announced  Permission Receipt  Completed
1  1692144000000  Announced  Permission Receipt  Completed

In [109]:
import pandas as pd

# Sample DataFrame
data = {'Date': pd.to_datetime(['28/09/2022  12:00:00 AM', '22/09/2022  12:00:00 AM ', '28/04/2022  12:00:00 AM', 
                                '08/01/2023  12:00:00 AM', '18/04/2019  12:00:00 AM']),
        'Value': [10, 20, 15, 25, 30]}

df = pd.DataFrame(data)

# Function to generate fiscal year column in 'YY-YY' format
def generate_fiscal_year(date):
    year = date.year
    fiscal_year = f'{str(year)[-2:]}-{str(year+1)[-2:]}'
    return fiscal_year

# Function to generate fiscal year quarter in 'FY-YY-Qx' format
def generate_fiscal_year_quarter(date):
    year = date.year
    quarter = (date.month - 1) // 3 + 1
    fiscal_year_quarter = f'{quarter}'
    return fiscal_year_quarter

# Apply the functions to create new columns
df['FY'] = df['Date'].apply(generate_fiscal_year)
df['Quarter'] = df['Date'].apply(generate_fiscal_year_quarter)

print(df)

        Date  Value     FY Quarter
0 2022-09-28     10  22-23       3
1 2022-09-22     20  22-23       3
2 2022-04-28     15  22-23       2
3 2023-08-01     25  23-24       3
4 2019-04-18     30  19-20       2

In [120]:
import pandas as pd

# Sample DataFrame
data = {'Name': ['John', 'Alice', 'Bob'],
        'Score1': [85, 90, 78],
        'Score2': [92, 88, 95],
        'Score3': [80, 85, 88]}

df = pd.DataFrame(data)

# Select maximum score among 'Score1', 'Score2', and 'Score3' for each row
# Select columns based on a wildcard mask
selected_columns = df.filter(regex='Score')
print(selected_columns)
df['MaxScore'] = selected_columns.max(axis=1)

print(df)

   Score1  Score2  Score3
0      85      92      80
1      90      88      85
2      78      95      88
    Name  Score1  Score2  Score3  MaxScore
0   John      85      92      80        92
1  Alice      90      88      85        90
2    Bob      78      95      88        95

In [121]:
import pandas as pd

# Sample DataFrame
data = {'Name': ['John', 'Alice', 'Bob'],
        'Score_Math': [85, 90, 78],
        'Score_English': [92, 88, 95],
        'Score_Science': [80, 85, 88]}

df = pd.DataFrame(data)

# Select columns based on a wildcard mask
selected_columns = df.filter(regex='^Score_')

# Find the column name containing the maximum value for each row
df['MaxScoreColumn'] = selected_columns.idxmax(axis=1)

print(df)

    Name  Score_Math  Score_English  Score_Science MaxScoreColumn
0   John          85             92             80  Score_English
1  Alice          90             88             85     Score_Math
2    Bob          78             95             88  Score_English

In [122]:
import pandas as pd
import numpy as np

# Sample DataFrame
data = {'Category': ['A', 'B', 'C', 'A', 'B', 'C'],
        'Value': [10, 20, 30, 15, 25, 35]}

df = pd.DataFrame(data)

# Define conditions and corresponding values
conditions = [
    df['Category'] == 'A',
    df['Category'] == 'B',
    df['Category'] == 'C'
]
values = ['X', 'Y', 'Z']

# Create a new column based on the conditions
df['NewColumn'] = np.select(conditions, values, default='Other')

print(df)

  Category  Value NewColumn
0        A     10         X
1        B     20         Y
2        C     30         Z
3        A     15         X
4        B     25         Y
5        C     35         Z

In [1]:
import pandas as pd

# Sample DataFrames
data1 = {'ID': [1, 2, 3],
         'Value1': [10, 20, 30]}
data2 = {'ID': [2, 3, 4],
         'Value2': [200, 300, 400]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Perform left merge
merged_df = df1.merge(df2, on='ID', how='left')

print(merged_df)

   ID  Value1  Value2
0   1      10     NaN
1   2      20   200.0
2   3      30   300.0